<div class="display">
  <h2 class="header">User Management</h2>

  <div class="table-container">
    <h3 style="display: flex; justify-content: space-between; align-items: center;">
      All Users
      <!-- Input for searching by phone number -->
      <input 
        type="text" 
        [(ngModel)]="searchTerm" 
        placeholder="Search User by phone number..." 
        class="form-control mb-3" 
        style="width: 250px;" 
      />
    </h3>

    <table class="user-table">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Phone Number</th>
          <th>Account</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of filteredUsers">
          <td>{{ user.user.first_name }}</td>
          <td>{{ user.user.last_name }}</td>
          <td>{{ user.user.email }}</td>
          <td>{{ user.user.phone_no }}</td>
          <td>{{ user.user.account_status }}</td>
          <td>
            <button (click)="viewUserDetails(user)" class="btn btn-info">View</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="summary">
    <h3>Total Users: {{ filteredUsers.length }}</h3>
  </div>
</div>
