<div *ngIf="user; else loading" class="user-details-card">
  <div class="header">
  <h2 mat-dialog-title>{{user.first_name}} Details   </h2>
  </div>
  <mat-dialog-content>
  <div class="user-info">
    <div class="info-group">
      <label>First Name:</label>
      <span>{{ user.first_name }}</span>
    </div>
    <div class="info-group">
      <label>Middle Name:</label>
      <span>{{ user.middle_name }}</span>
    </div>
    <div class="info-group">
      <label>Last Name:</label>
      <span>{{ user.last_name }}</span>
    </div>
    <div class="info-group">
      <label>Email:</label>
      <span>{{ user.email }}</span>
    </div>
    <div class="info-group">
      <label>Phone Number:</label>
      <span>{{ user.phone_no }}</span>
    </div>
    <div class="info-group">
      <label>Verification:</label>
      <span style="font-weight: bold; color: red;">    {{ user.account_action || 'Pending' }}</span>
    </div>
  </div>

  <div class="info-group">
    <label>Documents:</label>
    <ul *ngIf="documents?.length > 0; else noDocuments">
      <li *ngFor="let document of documents">
        <a [href]="document.url" target="_blank">{{ document.type }}</a>
      </li>
    </ul>
    <ng-template #noDocuments>
      <span>No documents available.</span>
    </ng-template>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
    <div class="action-buttons">
    <button class="approve" (click)="approveUser()">Approve</button>
    <button class="decline" (click)="declineUser()">Decline</button>
     <button class="decline" (click)="closeOverlay()">Close</button>
  </div>
</mat-dialog-actions>

</div>
<ng-template #loading>
  <p>Loading user details...</p>
</ng-template>
