.container{
  
    align-items: center;
    width: 400px;
    border-color: aqua;
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    color: antiquewhite;
    background-color: rgb(0, 0, 0.9);
}
.form-select{
    float: left;
}
.mb-3{
    padding: auto;
    width: 300px;
    margin: auto;
}