.container {
    width: 400px;
    padding: 20px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.9); /* Slightly darker transparent background */
    color: beige;
    margin:auto;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Soft shadow for a modern look */
  }
  
  .form-label {
    font-weight: bold;
    
  }
  
  .form-control {
    border-radius: 5px;
    padding: 10px;
    width: 350px;
    align-items: center;
  
  }
  
  .mb-3 {
    margin-bottom:auto;
  }
  .col {
    margin-bottom:auto;
  }
  
  .input-group .form-select {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  
  .input-group .form-control {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 300px;
  }
  
  .btn-primary {
    border-radius: 5px;
    padding: 10px;
    background-color: blue;
    border: none;
    color: white;
    width: 200px;
  }
  
  .btn-primary:hover {
    background-color: #0097a7;
  }
  
  .row {
    margin-bottom: 20px;
  }
  
  .text-danger {
    font-size: 0.85rem;
  }
  
  h5 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.2rem;
  }
  