<nav [ngStyle]="navbarStyle" class="navbar">
  <div class="logo">
    <img src="/assets/logo.png" alt="Bank-Xplore Logo" class="logo-img" />
    <span>{{ title }}</span>
  </div>

  <!-- Toggle Button (Hamburger Icon) -->
  <div class="menu-toggle" (mouseenter)="openMenu()">
    <i class="bi bi-list"></i> <!-- Bootstrap icon for hamburger menu -->
  </div>

  <!-- Navigation Links -->
  <div class="nav-links" [ngClass]="{'active': isMenuOpen}" (mouseleave)="closeMenuIfNotClicked($event)">
    <a (click)="closeMenu()" routerLink="/admin/dashboard">
      <i class="bi bi-house-door-fill"></i> Dashboard
    </a>

    <a (click)="closeMenu()" routerLink="/admin/user-management">
      <i class="bi bi-person-fill"></i> Manage Users
    </a>

          <div class="dropdown">
            <a
              class="dropdown-toggle"
              id="bankDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              (click)="closeMenu()"
            >
              <i class="bi bi-bank"></i> Bank Management
            </a>
            <ul class="dropdown-menu" aria-labelledby="bankDropdown">
              <li>
                <a class="dropdown-item" routerLink="/admin/add-bank" (click)="closeMenu()">Add Bank</a>
              </li>
              
              <li>
                <a class="dropdown-item" routerLink="/admin/view-banks" (click)="closeMenu()">View Banks</a>
              </li>
            </ul>
          </div>
          
        
    <a (click)="closeMenu()" routerLink="/admin/transaction">
      <i class="bi bi-receipt-cutoff"></i> Transactions
    </a>
  
 
    <a (click)="closeMenu()" routerLink="/admin/logout">
      <i class="fas fa-sign-out-alt"></i> Logout
    </a>
  </div>
</nav>
