/* General Navbar Styles */
.navbar {
 
  color: antiquewhite;
  margin-top: 0px;
  
  margin-bottom: 0%;
  border-radius: 1px;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #081a20; /* Set your light blue background color */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8); /* Optional shadow effect */
}

.logo-img {
  height: 60px; /* Adjust logo size if necessary */
  margin-right: 10px;
}


.nav-links {
  display: flex;
  gap: 50px;
 
}
.nav-links :hover {
  background-color: gray;
  border-radius: 5px;
  /* Instead of padding change, you can add a slight scale transformation */
  transform: scale(1.05); /* Slightly scales up the element */
  transition: transform 0.8s ease, background-color 0.8s ease;
}

.nav-links a {
 
  color: aliceblue;
  align-items: center;
  text-decoration: none;
  font-size: 18px;
}

.nav-links a i {
  margin-right: 2px; /* Space between icon and text */
  font-size: 18px;
}

.menu-toggle {
  display: none; /* Hide toggle button on large screens */
  font-size: 24px;
  cursor: pointer;
 
}

/* Media Queries for Small Screens */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    gap: 10px;
    position:absolute;
    top: 60px;
    background-color:#031518;
    right: 0;
    width: auto;
    padding: 20px;
    z-index: 1000;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  }

  /* Show nav links when 'active' class is applied */
  .nav-links.active {
    display: flex;
  }

  /* Show the menu toggle button on small screens */
  .menu-toggle {
    display: block;
   
  }
}
.dropdown-menu {
  display: none;
  position: absolute;
  margin-top: auto;
}
.dropdown:hover .dropdown-menu {
  display: block;
  background-color: #081a20;
}
/* Notification icon with badge */
.notification {
  font-size: 18px;
  color: aliceblue;
}
